#all-buttons 
    //- button#generic-kick.click-button Generic Kick 
    button#webauth-pubkey.click-button Webauth Pubkey
    button#password-hash.click-button(disabled) Password - hash 
    button#metamask-sig.click-button(disabled) MetaMask Sig
    button#thingy-crypto-auth.click-button(disabled) Thingy Crypto Auth